:root {
    --black-0: #0D0D0D;
    --black-1: #1A1A1A;
    --black-2: #404040;
    --black-3: #595959;
    --black-4: #A6A6A6;
    --black-5: #BFBFBF;
    --black-6: #E6E6E6;
    --black-7: #F2F2F2;

    --blue: #2985E0;
    --boldBlue: #1C70C4;
    --cyan: #159393;
    --boldCyan: #117878;
    --magenta: #A663E9;
    --boldMagenta: #913FE4;

    --container-width: 1200px;
}